.navbar-default {
    background-color: #a2101d;
}
.navbar-default .navbar-nav>li>a{
  color: #ffffff;
}

.navbar {
    font-size: 0.9em;
    margin-top: 5px;
}
h2 {
    color: #666;
    font-family: "trebuchet ms",sans-serif;
    font-size: 52px;
    margin: 0;
    padding-top: 90px;
}
.item {
    background: none repeat scroll 0 0 #ffffff;
    height: 300px !important;
    text-align: center;
}
.carousel {
    margin-top: 20px;
}
.nav-logo-bg {
    background-color: #a2101d;
    font-size: 0.9em;
    width: 200px;
}
.navbar-header {
  border-bottom: solid 5px transparent;
}
.nav-header:hover {
    background-color: #a2101d;
    /*font-size: 0.9em;
    width: 200px;*/
}

.nav-logo {
    float: left;
    position: relative;
    top: -15px;
    width: 60px;
    margin-top: -5px;
}
.nav-logo-bg > div {
    color: #ffffff;
    padding-left: 10px;
    vertical-align: middle;
    margin-left: auto;
    margin-right: auto;
    margin-top: -8px;
}
.nav-logo-bg:hover > span {
    /*color: #a2101d;*/
}
.nav-text {
    /*color: #ffffff;*/
    color: #000000;
}
/*.nav-middle:hover .nav-text {
    /*color: #f11821;
}*/
.nav-middle:hover {
    border-bottom: solid 5px orange;
    background-color: #ffffff;
}
.nav-donation-text {
    color: #f11821;
}
.nav-donation-text:hover {
    color: #000000;
}
.nav:hover {
    background-color: #ffffff;
}
.nav-middle {
    /* background-color: #f11821; */
    background-color: #ffffff;
    border-bottom: solid 5px transparent;
}
.nav-donation:hover {
    /*background: none repeat scroll 0 0 rgba(0, 0, 0, 0);*/
    color: #000000;
}
.nav-login {
    background-color: #8ec23c;
    border-bottom: solid 5px transparent;
}
.nav-login .nav-text {
  color: #ffffff;
}
.nav-login:hover .nav-text {
    /*color: #f11821;*/
    color: #000000;
}
.nav-donation {
    background-color: #ffcc00;
    border-bottom: solid 5px transparent;
}
.home-news {
    background-color: #ffffff;
}
.footer-text {
    color: #ffffff;
}
.footer-bg {
    background-color: #a2101d;
    border-top:10px white solid;
}
.carousel-inner {
  height: 480px;
}
.events > img {
  width:100%;
  margin-top:25px;
}
.eventTextPlus {
  font-size:2em;
  color:darkred;
  -ms-transform: rotate(45deg); /* IE 9 */
  -webkit-transform: rotate(45deg); /* Chrome, Safari, Opera */
  transform: rotate(45deg);
}
.latestNews {
  border: 1px solid gray;
  background-color: lightgray;
  color: #ffffff;
}
.latestNewsTitle {
  padding: 2px 10px;
  background-color: darkgray;
}
.eventText {
  padding-top:10px;
  padding-bottom:20px;
}
.wholeLineBlock {
  width:100%;
}

/* for the icon */
#cross {
  background: white;
  height: 26px;
  position: relative;
  width: 3px;
  left:6px;
  top:4px;
}
#cross:after {
  background: white;
  content: "";
  height: 3px;
  left: -12px;
  position: absolute;
  top: 12px;
  width: 26px;
}

#circle {
    height: 34px;
    width: 34px;
    background-color: darkred;
    border: 2px solid #ffffff;

    border-radius: 17px;
    -moz-border-radius: 17px;
    -webkit-border-radius: 17px;
}

#outterCircle {
    height: 42px;
    width: 42px;
    background-color: red;

    border-radius: 21px;
    -moz-border-radius: 21px;
    -webkit-border-radius: 21px;
}
.innerCircle {
    position: relative;
    display:inline;
    top:-38px;
    left:4px;
}

.theCross {
    position: relative;
    display:inline;
    top:-35px;
    left:10px;
}

.thePlus {
  position: relative;
  left:-12px;
  display:inline-block; line-height:100px; vertical-align:middle;
}
