<div class="row">
  <div class="col-sm-12 col-md-12 col-lg-12">
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <ol ng-repeat="img in imgs" class="carousel-indicators">
            <li ng-if="$index == 0" data-target="#myCarousel" data-slide-to="{{$index}}" class="active"></li>
            <li ng-if="$index != 0" data-target="#myCarousel" data-slide-to="{{$index}}"></li>
        </ol>


        <div class="carousel-inner">
            <div ng-repeat="img in imgs" class="item">
                <div class="container">
                  <img src="{{img.src}}">
                  <div class="carousel-caption">
                    <h3>{{img.title}}</h3>
                    <p><a class="btn btn-lg btn-primary" href="http://blog-fecd.rhcloud.com/?p={{img.id}}" role="button">Look</a></p>
                  </div>
                </div>
            </div>
        </div>

        <a class="carousel-control left" href="#myCarousel" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left"></span>
        </a>
        <a class="carousel-control right" href="#myCarousel" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right"></span>
        </a>
    </div>
  </div>
</div>
