<div class="row eventTitle">
  <div class="col-sm-12 col-md-12 col-lg-12 text-center">
    <h3>最新活動</h3>
  </div>
</div>
<div class="row home-news">
  <div ng-repeat="event in events">


    <!-- <img src='http://farm::farm::.static.flickr.com/::server::/::id::_::secret::_q.jpg' /> -->

    <!-- var tp = data.photoset.photo[0];
    var id = tp.id;
    var secret = tp.secret;
    var server = tp.server;
    var farm = tp.farm;
    var title = tp.title; -->




    <div ng-if="$index > 0 && $index % 2 == 0" class="clearfix visible-sm-block"></div>
    <div ng-if="$index > 0 && $index % 4 == 0" class="clearfix visible-md-block visible-lg-block"></div>



    <div class="col-sm-6 col-md-3 col-lg-3">
      <!-- <div class="thumbnail"> -->
      <div class="events">
        <img id="img{{event.id}}" src="../img/logo.png" data-src="../img/logo.png" alt="...">
        <div class="eventText">
          <div class="col-sm-2 col-md-2 col-lg-2" style="">
            <!-- <span class="eventTextPlus glyphicon glyphicon-remove-circle" aria-hidden="true"></span> -->

            <div class="thePlus">
              <div id="outterCircle"></div>
              <div class="innerCircle">
                  <div id="circle"></div>
                  <div class="theCross">
                      <div id="cross"></div>
                  </div>
              </div>
            </div>

          </div>
          <div class="col-sm-10 col-md-10 col-lg-10">
            <span>{{event.title}}</span>
            <br />
            <span>日期: {{(event.title).substring(0,event.title.indexOf(" "))}}</span>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- <p>
    <a class="btn btn-lg btn-primary" href="../../components/#navbar" role="button">View navbar docs &raquo;</a>
  </p> -->
</div>
