<div style="background-color:white; position:fixed; z-index:1020; height:10px; width:100%; top:0; left:0"></div>
<div class="visible-md visible-lg">
  <div class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand nav-logo-bg" href="index.html">
          <img class="nav-logo" src="img/logo.png" />
          <div class="text-center">發一崇德美國舊金山<br />光慧文教基金會</div>
        </a>
      </div>
      <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          <li class="nav-middle"><a href="aboutus.html"><span class="nav-text">關於我們</span></a></li>
          <li class="nav-middle"><a href="buddha.html"><span class="nav-text">聖賢仙佛</span></a></li>
          <li class="nav-middle"><a href="blog.html"><span class="nav-text">活動花絮</span></a></li>
          <li class="nav-middle"><a href="minutes.html"><span class="nav-text">會議記錄</span></a></li>
          <li class="nav-middle"><a href="classes.html"><span class="nav-text">進修天地</span></a></li>
          <li class="nav-middle"><a href="escriptures.html"><span class="nav-text">E藏經閣</span></a></li>
          <li class="nav-middle"><a href="vege.html"><span class="nav-text">素食廣場</span></a></li>
          <li class="nav-middle"><a href="contactus.html"><span class="nav-text">聯絡我們</span></a></li>

          <li class="nav-login"><a href="login.html"><span class="nav-text">登入</span></a></li>
          <li class="nav-donation"><a href="donation.html"><span class="nav-donation-text">善款捐獻</span></a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
<div class="hidden-md hidden-lg">
  <div class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
      <div class="navbar-header wholeLineBlock">
        <button type="button" class="navbar-toggle show">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand nav-logo-bg" href="index.html">
          <img class="nav-logo" src="img/logo.png" />
          <div class="text-center">發一崇德美國舊金山<br />光慧文教基金會</div>
        </a>
      </div>
    </div>
  </div>
</div>
