<div class="row">
  <div class="col-sm-12 col-md-12 col-lg-12">
    <div class="latestNews">
      <span class="latestNewsTitle">最新消息</span>
      <span id="latestNews"></span>
    </div>
  </div>
</div>
